@model IEnumerable<TheMatrixAPI.Models.DTO.MovieDTO>

@{
    ViewData["Title"] = "Movies";
}

<div class="container">
    <h1 class="mt-4">Movies</h1>

    <div class="movie-container">
        @foreach (var movie in Model)
        {
            var url = movie.ImageUrl != null ? movie.ImageUrl.Split("/") : new string[1];
            var imageUrl = url[url.Length - 1];

            <div class="movie-item">
                <div class="movie-img-container">
                    @if (imageUrl != null)
                    {
                        <img class="movie-img" src="/images/@imageUrl" alt="Card image cap">
                    }
                </div>

                <div class="movie-body">
                    <h5 class="card-title">@movie.Name</h5>
                    <a asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="Movies" asp-action="Delete" asp-route-id="@movie.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        }

        <!-- If Authorized as Admin (to be implemented) -->
        <div class="movie-item">
            <div class="movie-img-container">
                <img class="movie-img" src="/images/Empty.png" alt="Add New Movie">
            </div>

            <div class="movie-body">
                <h5 class="card-title">Add New Movie</h5>
                <a asp-controller="Movies" asp-action="Add" class="btn btn-primary">Add New Movie</a>
            </div>
        </div>
        <!-- End-If -->

    </div>

</div>

<style>
    .movie-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    .movie-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 320px;
        border-radius: 5px;
        background-color: #343a40;
        position: relative;
        box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
        margin: 8px;
    }

    .movie-img-container {
        overflow: hidden;
        height: 450px;
    }

    .movie-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .movie-body {
        padding: 20px;
    }
</style>