@using Microsoft.AspNetCore.Identity
@inject SignInManager<TheMatrixAPI.Models.DbModels.ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheMatrixAPI - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons-1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/taghelpers.css" />
</head>
<body>
    <header>
        <nav class="Application__navbar navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container">
                <a class="Application__navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TheMatrixAPI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Documentation">Documentation</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Movies" asp-action="Index">Movies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Actors" asp-action="Index">Actors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Races" asp-action="Index">Races</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Characters" asp-action="Index">Characters</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer class="Application__footer border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - TheMatrixAPI
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<style>
    .Application__navbar {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        color: #fff;
        background-color: #0b0d12;
        border-bottom: solid 1px rgba(255,255,255,0.15) !important;
    }

    .Application__navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }

        .Application__navbar-brand:hover {
            text-decoration: none;
        }

    .Application__footer {
        background-color: #0b0d12;
        border-top: solid 1px rgba(255,255,255,0.15) !important;
    }
</style>