@model TheMatrixAPI.Models.Character.EditCharacterViewModel

@{ 
    ViewData["Title"] = "Edit Character";
    var globalQuoteNumber = 0;
    var races = new List<SelectListItem>();
    races.Add(new SelectListItem
    {
        Text = "Select race",
        Value = "0"
    });

    races.AddRange((this.ViewData["Races"] as IEnumerable<TheMatrixAPI.Models.DTO.Race.RaceDTO>).Select(x => new SelectListItem(x.Name, x.Id.ToString())).ToList());
}

<div class="container">
    <h1 class="mt-4">Edit Character</h1>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post" asp-controller="characters" asp-action="edit" asp-route-id="@Model.Id">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Alignment"></label>
            <input asp-for="Alignment" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="RaceId"></label>
            <select asp-for="RaceId" asp-items="races" class="form-control"> </select>
        </div>
        <br />
        <div id="quotesList">
            @for (int i = 0; i < Model.Quotes.Count(); i++)
            {
                int quoteNumber = i + 1;
                <div class="form-group">
                    <label asp-for="Quotes">Quote</label>
                    <div class="d-flex align-items-center">
                        <input type="hidden" asp-for="Quotes[i].Id" />
                        <input asp-for="Quotes[i].QuoteLine" type="text" class="form-control" value="@Model.Quotes[i].QuoteLine" id="quote@(Model.Quotes[i].Id)" />
                        <button class="btn btn-outline-danger ml-2" onclick="RemoveQuoteField(event, @Model.Quotes[i].Id)">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
        <button onclick="AddQuoteField(event)" class="btn btn-outline-light" style="min-width: 140px">Add Quote</button>
        <br />
        <br />
        <button type="submit" class="btn btn-outline-warning" style="min-width: 140px">Edit</button>
    </form>

</div>

<script>
    var quoteNumber = 0;
    var quotesListEl = document.getElementById("quotesList");

    function AddQuoteField(e) {
        e.preventDefault();
        var divEl = document.createElement("div");
        divEl.classList.add("form-group");
        divEl.innerHTML = `
            <label name="NewQuotes">Quote</label>
            <div class = "d-flex align-items-center">
                <input name="NewQuotes" type="text" class="form-control" id="quote${quoteNumber}" />
                <button class="btn btn-outline-danger ml-2" onclick="RemoveQuoteField(event, ${quoteNumber})">
                        <i class="bi bi-x-circle"></i>
                </button>
            </div>
        `;
        quotesListEl.appendChild(divEl);
    }

    function RemoveQuoteField(e, quoteId) {
        e.preventDefault();
        var divEl = document.getElementById("quote" + quoteId).parentElement.parentElement;
        divEl.remove();
    }
</script>
