@model TheMatrixAPI.Models.Race.RaceDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="mt-4">Details</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>

    @foreach (var chara in Model.Characters)
    {
        <div>@chara.Name</div>
        <div>@chara.Alignment</div>
    }

</div>