@model TheMatrixAPI.Models.Race.RaceDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="mt-4">Details</h1>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control" disabled />
    </div>

    <hr class="bg-success" />
    @if (Model.Characters.Count() > 0)
    {
        <h4>Characters</h4>
        <partial name="_PartialRaceCharacter" model="Model.Characters" />
    }
    else
    {
        <div>No characters yet? Add characters <a asp-controller="characters" asp-action="add">here</a>!</div>
    }

</div>
