@model TheMatrixAPI.Models.Race.EditRaceViewModel

@{
    ViewData["Title"] = "Edit Race";
}

<div class="container">
    <h1 class="mt-4">Edit Race</h1>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post" asp-controller="Races" asp-action="Edit">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" value="@Model.Name" class="form-control" />
        </div>
        <input type="hidden" value="@Model.Id" />
        <input type="submit" value="Edit" class="btn btn-outline-warning" style="min-width: 140px" />
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
